generated/
docs/
.nmlcache/
.chameleon_cache/
.vs/
**/__pycache__/

# The local makefile should be ignored:
Makefile.local
.DS_Store
OTTD_grid_coordinates.png
pal_win_png.act
palette_key.png
PTS Industry Details.numbers
