# Local Settings for the Makefile which define or override
# various things like the installation path and program definitions
#
# uncomment the lines which you need

################################################################
# Here goes the directory where to copy the compiled grf to
################################################################
#INSTALLDIR = 

################################################################
# Programme definitions / search paths
################################################################
# Build parameters and programmes
# NFORENUM_FLAGS = -w 141
# GRFCODEC_FLAGS = -e -p 2
# TAR_FLAGS      = cf
# ZIP_FLAGS      = -9f
# BZIP_FLAGS     = -k9f
# CC_FLAGS       = -E - <

# NFORENUM = renum
# GRFCODEC = grfcodec
# TAR      = tar
# ZIP      = gzip
# BZIP     = bzip2
# CC       = gcc
